@charset "UTF-8";

/* Hide Alt & Caption in media sidebar */

.attachment-details [data-setting="description"],
.attachment-details [data-setting="alt"],
.attachment-details [data-setting="caption"],
.media-sidebar [data-setting="description"],
.media-sidebar [data-setting="alt"],
.media-sidebar [data-setting="caption"] {
    display: none;
}

/* Hide Alt & Caption in media frame */

.media-frame-content .setting.caption,
.media-frame-content .setting.alt-text {
    display: none;
}

.media-frame-content .setting.alt-text + h2 {
    padding-top: 0;
    border-top: 0;
}

/* Hide Alt & Caption on attachment page */

#wp-attachment_content-wrap,
.wp_attachment_details.edit-form-section > label[for="attachment_content"],
.wp_attachment_details.edit-form-section > p textarea,
.wp_attachment_details.edit-form-section > p input,
.wp_attachment_details.edit-form-section > p br,
.wp_attachment_details.edit-form-section > p label {
    display: none;
}
